<div id="body" class="full-screen center wizard-container" style="flex-direction: column;align-items: center">


  <div style="width: 400px;align-items: center;">
    <h1 style="padding: 0 30px;">Ethereum ❤️ Telegram Gateway</h1>

    <mat-vertical-stepper [linear]="isLinear" #stepper class="wizard">

      <mat-step>
        <div style="display: flex; flex-direction: column; padding-right: 20px">
          <ng-template matStepLabel>YOU SEND:</ng-template>

          <mat-form-field>
            <mat-select [(value)]="selectedCurrency">
              <mat-option value="TON">Gram</mat-option>
              <mat-option value="ETH">ETH</mat-option>
            </mat-select>
          </mat-form-field>
          <small *ngIf="selectedCurrency=='ETH'" style="margin-top: -10px;padding-bottom: 25px">
            {{balance}} ETH / ${{usdBalance}}
          </small>

          <mat-form-field>
            <input matInput placeholder="Enter amount of {{selectedCurrency=='ETH' ? 'ETH' : 'Grams'}}"
                   [(ngModel)]="amount" required>

            <mat-error *ngIf="!amount || amount <= 0">Amount is required</mat-error>

          </mat-form-field>

          <div *ngIf="amount">
            <span style="color: darkgray">You will receive:</span>&#160;
            <span>
              {{amount * (selectedCurrency == 'ETH' ? 100 : 0.01)}}
              {{selectedCurrency == 'ETH' ? 'Grams' : 'ETH'}}
            </span>
          </div>

          <div style="margin-top: 24px">
            <button mat-stroked-button matStepperNext color="primary">Next</button>
          </div>
        </div>
      </mat-step>

      <mat-step>
        <div style="display: flex; flex-direction: column">
          <ng-template matStepLabel>ENTER {{selectedCurrency == 'ETH' ? 'TON' : 'ETH'}} PAYOUT ADDRESS</ng-template>

          <mat-form-field>

            <input matInput placeholder="Enter {{selectedCurrency=='ETH' ? 'ETH' : 'Grams'}} address"
                   [(ngModel)]="address" required>

            <mat-error *ngIf="!address">Address is required</mat-error>
          </mat-form-field>

          <div style="margin-top: 10px">
            <button mat-stroked-button matStepperNext color="primary">Use email</button>
            &nbsp;
            <button mat-stroked-button matStepperNext color="primary">Next</button>
          </div>

        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>SEND YOUR FUNDS</ng-template>
        <div class="center">
          <button class="swapBtn" mat-stroked-button matStepperNext color="primary"
                  (click)="selectedCurrency=='ETH' ? sendEth() : sendGrams()">💫 Do Swap
          </button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</div>
