<div id="body" class="full-screen center wizard-container" style="flex-direction: column;align-items: center">


  <div style="width: 400px;align-items: center;">
    <h1 style="padding: 0 30px;">Ethereum ❤️ Telegram Gateway</h1>

    <mat-vertical-stepper [linear]="isLinear" #stepper class="wizard">

      <mat-step>
        <div style="display: flex; flex-direction: column; padding-right: 20px">
          <ng-template matStepLabel>YOU SEND: {{selectedCurrency.toLocaleUpperCase()}}</ng-template>

          <mat-form-field>
            <mat-select [(value)]="selectedCurrency" (change)="resetAddress()">
              <mat-option value="Gram">Gram</mat-option>
              <mat-option value="ETH">ETH</mat-option>
            </mat-select>
          </mat-form-field>
          <small *ngIf="selectedCurrency=='ETH'" style="margin-top: -10px;padding-bottom: 25px">
            {{balance}} ETH / ${{usdBalance}}
          </small>

          <mat-form-field>
            <input matInput placeholder="Enter amount of {{selectedCurrency=='ETH' ? 'ETH' : 'Grams'}}"
                   [(ngModel)]="amount" required>

            <!-- TODO: fix validation -->
            <mat-error *ngIf="selectedCurrency == 'ETH' && (!amount || amount <= 0.05)">
              Amount should be more than one 0.05 ETH
            </mat-error>

            <mat-error *ngIf="(selectedCurrency == 'Gram') && (amount < 1)">
              Amount should be more than one Gram
            </mat-error>
          </mat-form-field>

          <div *ngIf="amount">
            <span style="color: darkgray">You will receive:</span>
            <div>
              {{amount * (selectedCurrency == 'ETH' ? eth2ton : ton2eth)}}
              {{selectedCurrency == 'ETH' ? 'Grams' : 'ETH'}}
            </div>
          </div>

          <div style="margin-top: 12px">
            <button mat-stroked-button matStepperNext color="primary">Next</button>
          </div>
        </div>
      </mat-step>

      <mat-step>

        <ng-template matStepLabel>ENTER {{selectedCurrency == 'ETH' ? 'TON' : 'ETHEREUM'}} PAYOUT ADDRESS
        </ng-template>

        <!-- Add inverted variable -->
        <div *ngIf="selectedCurrency=='Gram'" style="display: flex; flex-direction: column">

          <div *ngIf="!enterManually && resolvingAddressByEmail" style="padding: 10px 20px 10px 0">
            <mat-progress-bar mode="query"></mat-progress-bar>
          </div>

          <mat-form-field *ngIf="!enterManually && !resolvingAddressByEmail">
            <input matInput placeholder="Enter email" [(ngModel)]="email" required>
            <mat-error *ngIf="!email">Email is required</mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="enterManually">
            <input matInput placeholder="Enter {{selectedCurrency=='ETH' ? 'TON' : 'ethereum'}} address"
                   [(ngModel)]="address" required>
            <mat-error *ngIf="!address">Address is required</mat-error>
          </mat-form-field>

          <div style="margin-top: 10px">
            <button mat-stroked-button color="primary" (click)="fetchAddressByEmail()">
              Resolve by email
            </button>
            &nbsp;
            <button mat-stroked-button color="primary" (click)="enterAddressManually()">
              Enter Address
            </button>
          </div>

        </div>

        <div *ngIf="selectedCurrency=='ETH'" style="display: flex; flex-direction: column">
          <mat-form-field>
            <input matInput placeholder="Enter {{selectedCurrency=='ETH' ? 'TON' : 'ethereum'}} address"
                   [(ngModel)]="address" required>
            <mat-error *ngIf="!address">Address is required</mat-error>
          </mat-form-field>
        </div>

      </mat-step>

      <mat-step>
        <ng-template matStepLabel>CONFIRM SWAP</ng-template>
        <div class="center">
          <button class="swapBtn" mat-stroked-button matStepperNext color="primary"
                  (click)="selectedCurrency=='ETH' ? sendEth() : sendGrams()">✨ Do Swap ✨
          </button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</div>
